:root {
    --clr-light-cyan: hsl(193, 38%, 86%);
    --clr-neon-green: hsl(150, 100%, 66%);
    --clr-grayish-blue: hsl(217, 19%, 38%);
    --clr-dark-grayish-blue: hsl(217, 19%, 24%);
    --clr-dark-blue: hsl(218, 23%, 16%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 800;
    color: var(--clr-light-cyan);
    background-color: var(--clr-dark-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.wrapper {
    max-width: 35em;
    position: relative;
    background-color: var(--clr-dark-grayish-blue);
    margin: 1rem;
    padding-inline: 1.5rem;
    padding-top: 2.5rem;
    padding-bottom: 3.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.number {
    text-transform: uppercase;
    font-size: 0.875rem;
    color: var(--clr-neon-green);
    letter-spacing: 4px;
}

.advice {
    font-size: 1.75rem;
    line-height: 1.4;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.divider {
    background-image: url("./images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
}

@media (min-width: 35em) {
    .wrapper {
        margin: 2rem;
        padding-inline: 3rem;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    
    .divider {
        background-image: url("./images/pattern-divider-desktop.svg");
    }
}

.button {
    cursor: pointer;            
    background-color: var(--clr-neon-green);
    background-image: url("./images/icon-dice.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 5em;
    height: 5em;
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.15s all;
}

.button:hover {
    box-shadow: 0 0 30px var(--clr-neon-green);
}

.button:focus {
    -webkit-tap-highlight-color: transparent;
}

.attribution {
    margin-block: 2rem;
    text-align: center;
    font-size: 0.875rem;
    margin-inline: 2rem;
}

.attribution a {
    color: var(--clr-neon-green);
}